@import 'vars';


#intro {
    font-size: 1.5em;
    margin: @font-size 0 (@font-size * 2) 0;
    text-align: center;
}

.sites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site {
    width: 48%;
    margin: 10px 0;

    .title {
        font-weight: bold;
    }
}

@media $mq-small-phone-or-smaller {
    #site-listing {
        li {
            width: 100%;
        }
    }
}
