* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    padding: 20px;

    a {
        color: #000;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    line-height: 1.2;
}

a {
    color: #217ac0;
    font-weight: bold;
    text-decoration: none;
}
