* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

header {
    height: 100px;
    background-color: #ddd;

    /* Hack to vertically center the title while still playing nice with
       Tabzilla */
    .wrapper {
        align-items: center;
        display: flex;
        float: left;
        height: 100%;
    }

    h1 {
        margin: 0 0 0 20px;
    }

    a {
        color: #000;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

p {
    line-height: 1.2;
}

a {
    color: #217ac0;
    font-weight: bold;
    text-decoration: none;
}
