#datacenter {

    /* Change the text color */
    #tabzilla:before {
        /* The same color used here:
           https://www.mozilla.org/en-US/styleguide/websites/sandstone/ */
        background-color: #484848;
    }

}
