$max-width-tablet = 1024px;
$max-width-phone = 768px;
$max-width-small-phone = 480px;

$mq-tablet-or-smaller = 'all and (max-width: $max-width-tablet)'
$mq-phone-or-smaller = 'all and (max-width: $max-width-phone)'
$mq-small-phone-or-smaller = 'all and (max-width: $max-width-small-phone)'
