{% extends 'base.html' %}

{% block main %}
<p id="intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam purus,
    ullamcorper eget lacus ac, tristique iaculis leo. Donec euismod turpis nisl,
    at pharetra neque mattis eu. Morbi fermentum vitae magna eu faucibus. Ut vel
    arcu eu leo tempor volutpat ac fermentum magna. Ut vulputate eu lacus quis
    pharetra. Pellentesque nulla urna, aliquet at diam ut, aliquet tincidunt
    purus.
</p>
<nav id="site-listing">
    <ul>
        {% for site in sites %}
        <li>
            <a href="{{ site.url }}">{{ site.title }}</a>
            <p>{{ site.description }}</p>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
