{% extends 'base.html' %}

{% block main %}
<p id="intro">
    Welcome to the Mozilla Firefox Data Tools landing page. This is a starting
    point for making sense of (and gaining access to) all of the
    Firefox-related data analysis tools. There are a number of different tools
    available, all with their own strengths, tailored to a variety of use cases
    and skill sets.
</p>
<nav id="site-listing">
    <ul>
        {% for site in sites %}
        <li>
            <a href="{{ site.url }}">{{ site.title }}</a>
            <p>{{ site.description }}</p>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
